<!DOCTYPE html>
<html>

<head>
  <script>
    function validateForm() {
      let x = document.forms["myForm"]["fname"].value;
      if (x == "") {
        alert("Relatório Armazenado no Banco de Dados fake que vc não fez");
        return false;
      }
    }
    
  </script>
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
  <script src='script.js'></script>
</head>

<body>
  <input type="checkbox" id="toggle" name="toggle">

<ul class="navigation-menu">
  <h3>SEU PERFIL</h3>
  <img class="perfil_menu" src="https://media.istockphoto.com/id/866574950/pt/vetorial/man-young-character-male-profile-business-cartoon.jpg?s=170667a&w=0&k=20&c=DDWbotIKXee8xfS846X6lBczgZ6oQlv7Gz76x-eTlR8=" alt="">
  <h3 class="topico">MENU DE NAVEGAÇÃO</h3>
  <li class="li_move"><a href="#">Página Inicial</a></li>
  <li class="li_move"><a href="#">Cadastro</a></li>
  <li class="li_move"><a href="#">Minha conta</a></li>
  <li class="li_move"><a href="#">Ajuda</a></li>
</ul>
<menu><img class="logo-oi" src="https://www.oi.com.br/lumis-theme/br/com/oi/com/br/theme/oi-com-br/images/logo-header.svg" alt=""> <p class="p-logo">MINHA OI FIBRA</p>
  <form role="search" id="form" autocomplete="on">
    <div id="result"></div>
    <input type="search" id="q" name="q"
     placeholder="Pesquisar..."
     aria-label="Search through site content" onKeyUp="showResults(this.value)">
    <button>
      <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
    </button>
    
  </form>
</menu> 
<div class="navbar">
  <label for="toggle"><i class="fa fa-bars"></i> Menu</label>
</div>
  <div>
    <nav>
      <ul>
        <li><a class="a_nav" href="minha_conta.html">
            Página Inicial </a></li>
        <li><a class="a_nav" href="index.html">
            Cadastro </a></li>
        <li><a class="a_nav" href="minha_conta.html">
            Minha conta </a></li>
        <li><a class="a_nav" href="minha_conta.html">
            Ajuda </a></li>
            <li><a class="a_nav" href="minha_conta.html">
              Contratar plano </a></li>
              <li><a class="a_nav" href="minha_conta.html">
                Serviços </a></li>
            
      </ul>
    </nav>
  </div>
 <h1> Espaço dedicado aos relatórios recentes:</h1>
 <footer>
    <table class="footertab">
      <td class="foot">
    <ul>
      <li class="lipe"><h4>
REDES SOCIAIS
      </h4>
      <P>voluptatum accusamus quos magni!</P>
      <br>
      <br>
    </li>
    </ul>
  </td>
  <td class="foot">
    <ul>
      <li class="lipe"><h4>
MENU
      </h4>
      <P>voluptatum accusamus quos magni!</P>
      <br>
      <br>
    </li>
    </ul>
  </td>
  <td class="foot">
    <ul>
      <li class="lipe"><h4>
SERVIÇOS
      </h4>
      <P>voluptatum accusamus quos magni!</P>
      <br>
      <br>
    </li>
    </ul>
  </td>
  <td class="foot">
    <ul>
      <li class="lipe"><h4>
ATENDIMENTO AO CLIENTE
      </h4>
      <P>voluptatum accusamus quos magni!</P>
      <br>
      <br>
    </li>
    </ul>
  </td>
  <td class="foot">
    <ul>
      <li class="lipe"><h4>
TRABALHE CONOSCO
      </h4>
      <P>voluptatum accusamus quos magni!</P>
      <br>
      <br>
    </li>
    </ul>
  </td>
  </table>
  </footer>
</body>

</html>